body{
	background-color: #fafafa;
}

nav {
	  border-bottom: 1px solid #dbdbdb;
	  background-color: #ffffff;
	  height: 77px;
}

.brand{
	font-family: 'Satisfy', cursive;
	font-size: 26px;
	vertical-align: bottom;
}