body{
	background-color: #fafafa;
}

.wrapper{
width: 100%;		
margin-left: 50px;
}	

/* ----------NavBar-----------------*/
nav {
	  border-bottom: 1px solid #dbdbdb;
	  background-color: #ffffff;
	  height: 77px;
}

.brand{
	font-family: 'Satisfy', cursive;
	font-size: 26px;
	vertical-align: middle;
	margin-top: 15px;
	text-decoration: none;
}

.nav_links{
	vertical-align: middle;
	font-size:16px;
	font-weight: 500;
	margin: 0 20px;
}

.nav_wrapper{
	line_height: 78px;
}

.nav_links{
	margin: 0 60px;
}

/* ------------Post Heading-------------- */

img.prof_pic_small{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

a.prof_name{
	vertical-align: text-top;
	padding-left: 5px;	
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title_wrapper{
	 
	margin-top: 5px;
	margin-left: 8px;
}
	
/* ------------Post Body-------------- */

.photo {
  width: 80%;
   
 }


.post_description{
	font-weight: italic;

}

.post_description p{
	
	margin-left: 15px
}

/* ------------Post Options-------------- */

.col-xs-5 {
	width: 41.66666667%;
    margin-left: 75px;
    text-decoration: none;
}

.view_post a{
	font-weight: bold;
	text-decoration: none;
}

.edit_post a{
	font-weight: bold;
	text-decoration: none;
}

.delete_post a{
	font-weight: bold;
	text-decoration: none;
}
/* ------------Comment Box-------------- */

.form-horizontal .form-group {
    margin-left: 352px;
    margin-right: 488px;
}


.col-lg-offset-3 {
    margin-left: 353px;
}
.post_like {
  .fa {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;	
}
}





input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: teal;
    width: 40px;
}

.submit_button{
	margin-left: 852px;
}																									